.SearchResult_container{
    /* display: none; */
    position: relative;
    width: 100%;
    background-color:white;
    /* height: max-content; */
    max-height: 300px;
    overflow-y: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
     box-shadow: rgba(3, 26, 101, 0.24) 0px 3px 8px;
     z-index: 10;
     border-bottom-left-radius: 5px ;
     border-bottom-right-radius: 5px ;
}
.searchResult_item{
    display: flex;
    gap: 10px;
    cursor: pointer;
    color: gray;
    margin-bottom: 10px;
    font-size: 25px;
}
.searchResult_item p{
    font-size: 22px;
}
.searchResult_item:hover{
    color: black;
   
}
.searchResult_item_icon{
    padding: 2px;
}